/* Globals */

:root {
    --primary-color: slategray;
    --secondary-color: blue;
    --tertiary-color: yellow;
    --text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

/* Tags */

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: ivory;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    text-shadow: var(--text-shadow);
}

header nav {
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
    text-shadow: var(--text-shadow);
}

footer div div ul li a {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

/* Classes */

.flex-row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tagline {
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    display: flex;
    justify-content: right;
    padding: 100px 20px 20px 20px;
    color: var(--tertiary-color);
}

.title h2 {
    flex: 25%;
    text-align: right;
    padding-right: 25px;
    margin: 25px;
    border-right: 5px solid var(--primary-color);
}

.titletext {
    flex: 75%;
    padding: 25px 50px 0 0;
    position: relative;
}

.work-primary {
    flex-wrap: wrap;
    order: 1;
    flex: 2 1 100%;
    background-image: url("https://anillag.github.io/run-buddy/assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    min-height: 400px;
    margin: 5px;
    color: var(--tertiary-color);
}

.work-secondary {
    flex-wrap: wrap;
    order: 2;
    flex: 1 1 45%;
    color: var(--tertiary-color);
    background-size: cover;
    background-position: 80%;
    min-height: 200px;
    text-shadow: var(--text-shadow);
    margin: 5px;
}

.horiseon {
    background-image: url("https://anillag.github.io/Challenge-1-Horiseon/assets/images/digital-marketing-meeting.jpg");
}

.robot-gladiators {
    background-image: url("../img/robotgladiators.png");
}

.taskinator {
    background-image: url("../img/taskinator.png");
}

.password-generator {
    background-image: url("../img/password-generator.png");
}

.taskmaster-pro {
    background-image: url("../img/taskmaster-pro.png");
}

.quiz {
    background-image: url("../img/quiz.png");
}

.git-it-done {
    background-image: url("../img/git-it-done.png");
}

.work-day-scheduler {
    background-image: url("../img/work-day-scheduler.png");
}

.weather-dashboard {
    background-image: url("../img/weather-dashboard.png");
}

.business-planner {
    background-image: url("../img/business-planner.png");
}

.under-construction {
    background-image: url("../img/under-construction.png");
}